@model WMS.Models.TypeCustomer
@{
    ViewBag.Title = Resources.Resource.Sửa_Loại_Khách_Hàng;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            @Resources.Resource.Sửa_Loại_Khách_Hàng
        </h3>
    </div>
    <!--begin::Form-->
    <div class="card-body">
        <div class="form-group mb-8">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                    @Resources.Resource.Vui_Lòng_Nhập_Đúng_Tất_Cả_Dữ_Liệu_Để_Đảm_Bảo_Hệ_Thống
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Mã_Loại_Khách_Hàng<span style="color:red"> (*) </span></label>
            <div class="col-lg-10 col-xl-10">
                <div class="input-group">
                    <input type="text" class="form-control" id="id" disabled value="@Model.Id">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Tên_Loại_Khách_Hàng</label>
            <div class="col-lg-10 col-xl-10">
                <input class="form-control" id="name" type="text" value="@Model.Name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Ghi_chú</label>
            <div class="col-xl-10">
                <div class="input-group">
                    <textarea class="form-control" id="des">@Model.Des</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="submit" class="btn btn-success mr-2" onclick="Add()">@Resources.Resource.Sửa</button>
                <a href="/TypeCustomer/Index" type="reset" class="btn btn-secondary">@Resources.Resource.Hủy</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function Add() {
            var formData = new FormData();
            formData.append("Id",$('#id').val())
            formData.append("Name",$('#name').val())
            formData.append("Des",$('#des').val())
            $.ajax({
                url: '/TypeCustomer/Edit',
                type: 'post',
                contentType: false,
                processData: false,
                data:  formData ,
                success: function (data) {
                    if (data.code == 200) {
                        toastr.success(data.msg);
                        setTimeout(function () { window.location.href = "/TypeCustomer/Index" }, 1000);
                    } else {
                        toastr.error(data.msg);
                    }
                }
            })
        }
    </script>
}


