
@{
    ViewBag.Title = Resources.Resource.Thêm_Nhóm_Hàng;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            @Resources.Resource.Thêm_Nhóm_Hàng
        </h3>
    </div>
    <!--begin::Form-->
    <div class="card-body">
        <div class="form-group mb-8">
            <div class="alert alert-custom alert-default" role="alert">
                <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                <div class="alert-text">
                   @Resources.Resource.Vui_Lòng_Nhập_Đúng_Tất_Cả_Dữ_Liệu_Để_Đảm_Bảo_Hệ_Thống
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-7">
                <!--begin::Form Wizard-->
                <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_projects_add_form">
                    <!--begin::Step 1-->
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Thêm_Nhóm_Hàng<span style="color:red"> (*) </span></label>
                                    <div class="col-lg-10 col-xl-10">
                                        <div class="input-group ">
                                            <input class="form-control" type="text" placeholder="@Resources.Resource.Tên_Nhóm_Hàng" id="name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Mô_Tả</label>
                                    <div class="col-lg-10 col-xl-10">
                                        <div class="input-group ">
                                            <textarea class="form-control" type="text" placeholder="@Resources.Resource.Mô_Tả" id="des"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
                                
        <div class="card-footer">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <button type="submit" class="btn btn-success mr-2" onclick="Add()">@Resources.Resource.Thêm</button>
                    <a href="/GroupGoods/Index" type="reset" class="btn btn-secondary">@Resources.Resource.Hủy</a>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/Scripts/GroupGoods.js"></script>
    }


