@model WMS.Models.Customer
@{
    ViewBag.Title = Resources.Resource.Sửa_Khách_Hàng_Doanh_Nghiệp;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="form">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                @Resources.Resource.Sửa_Khách_Hàng
            </h3>
        </div>
        <!--begin::Form-->

        <div class="card-body">
            <div class="form-group mb-8">
                <div class="alert alert-custom alert-default" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                    <div class="alert-text">
                        @Resources.Resource.Vui_Lòng_Nhập_Đúng_Tất_Cả_Dữ_Liệu_Để_Đảm_Bảo_Hệ_Thống
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">@Resources.Resource.Kiểu_Khách_Hàng<span style="color:red"> (*) </span></label>
                <div class="col-10 col-form-label">
                    <div class="radio-inline">
                        <label class="radio radio-outline radio-success">
                            <input type="radio" value="1" name="radios18" checked="checked">
                            <span></span>@Resources.Resource.Tổ_Chức
                        </label>
                        <label class="radio radio-outline radio-success ">
                            <input type="radio" value="2" name="radios18">
                            <span></span>@Resources.Resource.Cá_Nhân
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">@Resources.Resource.Mã_Số_Thuế<span style="color:red"> (*) </span></label>
                        <div class="col-10">
                            <input required class="form-control" type="number" value="@Model.TaxCode" placeholder="@Resources.Resource.Mã_Số_Thuế" name="taxcode" onkeyup="getInfoFromTax()" id="taxCode" />
                        </div>
                    </div>
                    <div class="form-group row" hidden>
                        <label class="col-2 col-form-label">@Resources.Resource.Mã_Khách_Hàng<span style="color:red"> (*) </span></label>
                        <div class="col-10">
                            <div class="input-group-prepend">
                                <input required readonly class="form-control" value="@Model.Id" hidden name="id" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">@Resources.Resource.Tên_Khách_Hàng</label>
                        <div class="col-10">
                            <input class="form-control" type="text" value="@Model.Name" placeholder="@Resources.Resource.Tên_Khách_Hàng" name="name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">@Resources.Resource.Địa_Chỉ</label>
                        <div class="col-10">
                            <input class="form-control" type="text" value="@Model.AddRess" placeholder="@Resources.Resource.Địa_Chỉ" name="address" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-password-input" class="col-2 col-form-label">Website</label>
                        <div class="col-10">
                            <div class="input-group ">
                                <input class="form-control" type="text" value="@Model.Website" placeholder="Website" name="website" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">@Resources.Resource.Loại_Khách_Hàng</label>
                        <div class="col-10">
                            <div class="input-group">
                                <select class="form-control select2" data-id="kt_select2_1" name="typeCustomer">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">@Resources.Resource.Số_Fax</label>
                        <div class="col-10">
                            <input class="form-control" value="@Model.Fax" type="number" placeholder="@Resources.Resource.Số_Fax" name="fax" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">@Resources.Resource.Số_Điện_Thoại</label>
                        <div class="col-10">
                            <input class="form-control" type="number" value="@Model.Phone" placeholder="@Resources.Resource.Số_Điện_Thoại" name="phone" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                            <input class="form-control" value="@Model.Email" type="email" placeholder="example@example.com" name="email" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-email-input" class="col-1 col-form-label">@Resources.Resource.Ghi_chú</label>
                <div class="col-11">
                    <textarea class="form-control" name="des">@Model.Description</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-email-input" class="col-1 col-form-label">@Resources.Resource.Trạng_Thái</label>
                <div class="col-11">
                    <input class="form-control" type="checkbox" name="status" checked="@Model.Status" />
                </div>
            </div>
        </div>


        <div class="card card-custom">
            <div class="card-header card-header-tabs-line">
                <div class="card-toolbar">
                    <ul class="nav nav-tabs nav-bold nav-tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_2">@Resources.Resource.Thông_Tin_Khác</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_2">@Resources.Resource.Tài_Khoản_Ngân_Hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <!--Thông Tin Khác-->
                    <div class="tab-pane fade active show" id="kt_tab_pane_1_2" role="tabpanel">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Nhân_Viên_Phụ_Trách</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <select class="form-control select2" data-id="kt_select2_1" name="idUser">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Thẻ_Thành_Viên</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <select class="form-control" name="membershipCard"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Nguồn_Khách_Hàng</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <select class="form-control" name="customerResources"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Ngành_Nghề</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <select class="form-control" name="career"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Hạn_Mức_Nợ</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <input class="form-control" type="text" value="@Model.DebtLimit" name="debtLimit" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Số_Ngày_Được_Nợ</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <input class="form-control" type="text" value="@Model.NumberDaysOwed" name="numberDaysOwed" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Phương_Thức_Thanh_Toán</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <select class="form-control" name="paymentMethods"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Mã_TK_Hạch_Toán</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <select class="form-control select2" data-id="kt_select2_1" name="accountingAccountCode"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tài Khoản Ngân Hàng-->
                    <div class="tab-pane fade active" id="kt_tab_pane_2_2" role="tabpanel">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Số_Tài_Khoản_1</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <input class="form-control" type="text" value="@Model.STK1" placeholder="" name="stk1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Thông_Tin</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <input class="form-control" type="text" value="@Model.Bank1" placeholder="@Resources.Resource.Tên__Ngân_Hàng" name="infoStk1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Số_Tài_Khoản_2</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <input class="form-control" type="text" value="@Model.STK2" placeholder="" name="stk2" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-2 col-form-label">@Resources.Resource.Thông_Tin</label>
                                    <div class="col-10">
                                        <div class="input-group ">
                                            <input class="form-control" type="text" value="@Model.Bank2" placeholder="@Resources.Resource.Tên__Ngân_Hàng" name="infoStk2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tài Khoản Ngân Hàng-->
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="submit" class="btn btn-success mr-2" id="submit">@Resources.Resource.Lưu</button>
                <a href="Customer/index" type="reset" class="btn btn-secondary">@Resources.Resource.Hủy</a>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
        var KTMaskDemo = function () {
            var demos = function () {
                $('input[name="debtLimit"]').mask('000,000,000,000,000', {
                    reverse: true
                });
            }
            return {
                init: function () {
                    demos();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTMaskDemo.init();
        });
        $(document).ready(function () {
            console.log("@ViewBag.membershipCard")
            Info()
        });
        function Info() {
            if ("@Model.Type".includes("CN")) {
                $('input[name="radios18"][value="2"]').prop("checked",true)
            }
        }
        var dataTC = [];
        TypeCustomer(1)
        function TypeCustomer(page) {
            $.ajax({
                url: '/TypeCustomer/List',
                type: 'get',
                data: {
                    pagenum: 10,
                    page: page,
                    seach: ''
                },
                success: function (data) {
                    if (data.code == 200) {  // Tiếp tục gọi AJAX để lấy dữ liệu của trang tiếp theo nếu cần
                        if (page <= data.pages) {
                            dataTC = dataTC.concat(data.c)
                            TypeCustomer(page + 1);
                        } else {
                            let table = '<option value="@Model.TypeCustomer.Id">@Model.TypeCustomer.Name</option>'
                            $.each(dataTC, function (k, v) {
                                table += '<option value="' + v.id + '">' + v.name + '</option>'
                            });
                            $('select[name="typeCustomer"]').append(table);
                        }

                    } else {
                        toastr.error(data.msg);
                    }
                }
            })
        }

        var dataUC = [];
        UserCharge(1)
        function UserCharge(page) {
            $.ajax({
                url: '/Register/List',
                type: 'get',
                data: {
                    pagenum: 1,
                    page: page,
                    seach: ''
                },
                success: function (data) {
                    if (data.code == 200) {
                        if (page <= data.pages) {
                            dataUC = dataUC.concat(data.c)
                            UserCharge(page + 1);
                        } else {
                            let table = '<option value="@ViewBag.IdUser"> @ViewBag.NameUser</option>'
                            $.each(dataUC, function (k, v) {
                                table += '<option value="' + v.id + '">' + v.name + '</option>'
                            });
                            $('select[name="idUser"]').append(table);
                        }
                    } else {
                        toastr.error(data.msg);
                    }
                }
            })
        }
        $(function MembershipCard() {
            $.ajax({
                url: '/Customer/Data',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        let membershipCard = '<option value="@ViewBag.membershipCardKey">@ViewBag.membershipCardValue</option>'
                        $.each(data.membershipCard, function (k, v) {
                            membershipCard += '<option value="' + v.Key + '">' + v.Value + '</option>'
                        });
                        $('select[name="membershipCard"]').append(membershipCard) ;
                        let customerResources = '<option value="@ViewBag.customerResourcesKey">@ViewBag.customerResourcesValue</option>'
                        $.each(data.customerResources, function (k, v) {
                            customerResources += '<option value="' + v.Key + '">' + v.Value + '</option>'
                        });
                        $('select[name="customerResources"]').append(customerResources);
                        let career = '<option value=" @ViewBag.careerKey"> @ViewBag.careerValue</option>'
                        $.each(data.career, function (k, v) {
                            career += '<option value="' + v.Key + '">' + v.Value + '</option>'
                        });
                        $('select[name="career"]').append(career);
                        let paymentMethods = '<option value="@ViewBag.paymentMethodsKey">@ViewBag.paymentMethodsValue</option>'
                        $.each(data.paymentMethods, function (k, v) {
                            paymentMethods += '<option value="' + v.Key + '">' + v.Value + '</option>'
                        });
                        $('select[name="paymentMethods"]').append(paymentMethods);
                        let accountingAccountCode = '<option value="@ViewBag.accountingAccountCodeKey">@ViewBag.accountingAccountCodeValue</option>'
                        $.each(data.accountingAccountCode, function (k, v) {
                            accountingAccountCode += '<option value="' + v.Key + '">' + v.Value + '</option>'
                        });
                        $('select[name="accountingAccountCode"]').append(accountingAccountCode);
                    } else {
                        toastr.error(data.msg);
                    }
                }
            })
        })

        $("#form").submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: '/customer/Edit',
                type: 'post',
                dataType: "json",
                data: formData,
                contentType: false, // Không set contentType
                processData: false, // Không xử lý dữ liệu
                success: function (data) {
                    if (data.code == 200) {
                        toastr.success(data.msg);
                        window.location.href = "/Customer/Index";
                    }
                    else {
                        toastr.error(data.msg);
                    }
                },
            })
        })


    </script>
    <script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>

}
