
@{
    ViewBag.Title = Resources.Resource.Phiếu_Yêu_Cầu_Xuất;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            @Resources.Resource.Phiếu_Yêu_Cầu_Xuất
        </h3>
    </div>
    <form id="form">
        <!--begin::Form-->
        <div class="card-body">
            <div class="form-group mb-8">
                <div class="alert alert-custom alert-default" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
                    <div class="alert-text">
                        @Resources.Resource.Vui_Lòng_Nhập_Đúng_Tất_Cả_Dữ_Liệu_Để_Đảm_Bảo_Hệ_Thống
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-xl-2 col-lg-2 col-form-label">Chọn PO<span style="color:red"> (*) </span></label>
                <div class="col-xl-10">
                    <select class="form-control" data-id="kt_select2_1" id="po">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Xuất_Tại_Kho<span style="color:red"> (*) </span></label>
                <div class="col-xl-10">
                    <input class="form-control" disabled type="text" id="warehouse" name="warehouse" placeholder="@Resources.Resource.Xuất_Tại_Kho" />
                </div>
            </div>

            <div class="row mb-3 form-group">
                <label for="example-password-input" class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Khách_Hàng<span style="color:red"> (*) </span></label>
                <div class="col-xl-4">
                    <div class="form-group fv-plugins-icon-container">
                        <div class="input-group-prepend ">
                            <input class="form-control"disabled type="text" name="customer" placeholder="@Resources.Resource.Khách_Hàng">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <input class="form-control" disabled type="text" placeholder="@Resources.Resource.Tên_Khách_Hàng" name="nameCustomer" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Địa_Chỉ </label>
                <div class="col-xl-10">
                    <input class="form-control" disabled type="text" placeholder="@Resources.Resource.Địa_Chỉ" name="address" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Ghi_chú</label>
                <div class="col-xl-10">
                    <textarea class="form-control" type="text" placeholder="@Resources.Resource.Ghi_chú" name="des"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="example-search-input" class="col-xl-2 col-lg-2 col-form-label">@Resources.Resource.Hàng_Hóa<span style="color:red"> (*) </span></label>
                <div class="col-xl-10">
                    <div class="input-group ">
                        <select class="form-control" data-id="kt_select2_1" id="seachidgood">
                            <option value="-1">Chọn Hàng Hóa</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-xl-2 col-lg-2 col-form-label">Trạng thái chia hàng xuất<span style="color:red"> (*) </span></label>
                <div class="col-xl-10">
                    <div class="input-group ">
                        <span class="switch switch-lg">
                            <label>
                                <input type="checkbox" id="statusCut" />
                                <span></span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <!--style="width: 1400px;"-->
            <div style="height: 500px;overflow-y: scroll;">
                <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info">
                    <thead>
                        <tr role="row">
                            <th data-field="RecordID" class="datatable-cell-center datatable-cell datatable-cell-check"><span style="width: 30px;"><label class="checkbox checkbox-single checkbox-all kt-checkbox--solid"><input type="checkbox" checked="true" id="allchange">&nbsp;<span></span></label></span></th>
                            <th>@Resources.Resource.STT</th>
                            <th>@Resources.Resource.Mã_Hàng</th>
                            <th>@Resources.Resource.Tên_Hàng</th>
                            <th>@Resources.Resource.Số_Lượng</th>
                            <th>@Resources.Resource.Nhóm_Hàng</th>
                            <th>@Resources.Resource.Đơn_Vị</th>
                            <th>@Resources.Resource.Hành_Động</th>
                        </tr>
                    </thead>
                    <tbody id="tbd">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <button type="button" id="add" class="btn btn-success mr-2">@Resources.Resource.Tạo_Đơn</button>
                    <a href="/PurchaseOrder/Index" type="reset" class="btn btn-secondary">@Resources.Resource.Hủy</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="BILL" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1100px">
        <div class="modal-content">
            <div class="modal-body" id="in">
                <div class="row">
                    <div class="col-8">
                        <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI HÀ PHAN</p>
                        <p>Địa Chỉ: 758/25/2B Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP HCM.</p>
                    </div>
                    <div class="col-4" style="transform: translate(60%, 0px);">
                        <p>Số ĐH : <span name="iddh"></span></p>
                        <p>Ngày ĐH : <span name="datedh"></span></p>
                    </div>

                </div>
                <div class="" style="text-align:center">
                    <h1>Đơn Hàng Bán</h1>
                </div>
                <p>- Khách Hàng : <span name="customer"></span></p>
                <p>- Địa Chỉ :<span name="address"></span></p>
                <p>- Xuất tại :<span name="nameware"></span></p>
                <table class="table table-bordered" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width:100%;">
                    <thead>
                        <tr role="row">
                            <th>Stt</th>
                            <th class="">Mã Hàng</th>
                            <th class="">Tên Hàng</th>
                            <th class="">Số Lượng</th>
                            <th class="">Nhóm Hàng</th>
                            <th class="">Đơn Vị</th>
                        </tr>
                    </thead>
                    <tbody id="tbdmodal">
                    </tbody>
                </table>
                <div class="row" style="text-align:center">
                    <div class="col-6">
                        <p><span name="namesupplier"></span></p>
                        <p name="">Người Xác Nhận</p>
                        <p name="">(Ký, ghi rõ họ tên)</p>
                    </div>
                    <div class="col-6">
                        Ngày.....Tháng....Năm........
                        <p>Người Lập Đơn hàng</p>
                        <p>(Ký, ghi rõ họ tên)</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id=hide>
                <a type="button" href="/SaleOrder/Index" class="btn btn-secondary">Close</a>
                <button type="button" onclick="printDiv('in')" class="btn btn-primary">IN</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
                    $('#statusCut').on('change', function () {
                        StatusCut()
                    })
        StatusCut()
        function StatusCut() {
            if ($('#statusCut').is(':checked')) {
                $('input[name="sum"]').attr("disabled", false);
                $('input[name="change"]').attr("disabled", false);
                $('#allchange').attr("disabled", false);
                $('td[name="delete"]').css("cursor", "pointer");
            } else {
                $('input[name="sum"]').attr("disabled",true);
                $('input[name="change"]').attr("disabled", true);
                $('#allchange').attr("disabled", true);
                $('td[name="delete"]').css("cursor", "no-drop");
            }
        }
        $(function PO() {
            $.ajax({
                url: '/Receipt/ListPO',
                type: 'get',
                success: function (data) {
                    $('#po').empty();
                    if (data.code == 200) {
                        let table = '<option value="-1">Chọn PO</option>';
                        $.each(data.data, function (k, v) {
                            table += '<option value="' + v.id + '">' + v.id + '</option>'
                        });
                        $('#po').append(table);
                    } else (
                        alert(data.msg)
                    )
                }
            })
        })
        $(document).on('change', '#po', function () {
            var id = $(this).val().trim();
            if ($(this).val() == -1) {
                $('#warehouse').val("")
                $('input[name="customer"]').val("")
                $('input[name="nameCustomer"]').val("")
                $('input[name="address"]').val("")
            } else {
                $.ajax({
                    url: '/Receipt/Detail',
                    type: 'get',
                    data: { id },
                    success: function (data) {
                        if (data.code == 200) {
                            $.each(data.data, function (k, v) {
                                $('#warehouse').val(v.nameWarehouse)
                                $('input[name="customer"]').val(v.nameCustomer)
                                $('input[name="nameCustomer"]').val(v.nameCustomer)
                                $('input[name="address"]').val(v.addressCustomer)
                                var option = `<option value="${v.idGoods}">${v.nameGoods}(${v.idGoods})</option>`
                                $('#seachidgood').append(option);
                            })
                        } else {
                            toastr.error(data.msg)
                        }
                    }
                })
            }

        })
        $(document).on('change', 'select[name="customer"]', function () {
            var id = $(this).val().trim();
            if ($(this).val() == -1) {
                $('input[name="nameCustomer"]').val("")
                $('input[name="address"]').val("")
            } else {
                $.ajax({
                    url: '/Customer/Detail',
                    type: 'get',
                    data: { id },
                    success: function (data) {
                        if (data.code == 200) {
                            $('input[name="nameCustomer"]').val(data.customer.Name)
                            $('input[name="address"]').val(data.customer.AddRess)
                        } else {
                            toastr.error(data.msg)
                        }
                    }
                })
            }
        })
        var seach = '';
        //Tìm kiếm mã hàng
        $('#seachidgood').on('change', function (e) {
            seach = $('#seachidgood').val().trim();
            ListGoods(seach)
         
        })
        function setArrayChecked() {
            var checkboxesChecked = [];
            var checkboxes = document.getElementsByName('change');
            // loop over them all
            for (var i = 0; i < checkboxes.length; i++) {
                // And stick the checked ones onto an array...
                if (checkboxes[i].checked) {
                    if (checkboxesChecked.includes(checkboxes[i].value) == false) {
                        checkboxesChecked.push({
                            "IdGoods": checkboxes[i].value,
                            "Quantity": $('#amount' + checkboxes[i].value + '').val().trim()
                        });
                    }
                } else {
                    checkboxesChecked.filter(function (item) {
                        return item !== checkboxes[i].value;
                    });
                }
            }
            return checkboxesChecked;
        }

        //hiển thị danh sách mã hàng
        function ListGoods(id) {
            $.ajax({
                url: '/Goods/Detail',
                type: 'get',
                data: { id },
                success: function (data) {
                    var Stt = $('#tbd').children('tr').length + 1;
                    $('#kt_datatable_info').empty();
                    if (data.code == 200) {
                        var ids = $('.nhanhang').map(function () {
                            return this.id;
                        }).get();
                        if (ids.includes(data.goods.Id)) {
                            var amount = $('#amount' + data.goods.Id + '').val().trim()
                            $('#amount' + data.goods.Id + '').val(Number(amount) + 1)
                            $('#' + data.goods.Id + 'abc').attr('data-amount' + data.goods.Id + '', Number(amount) + 1)
                        }
                        else {
                            let table = '<tr id="' + data.goods.Id + '" role="row" class="odd nhanhang">';
                            table += '<td class="datatable-cell-sorted datatable-cell-center datatable-cell datatable-cell-check" data-field="RecordID" aria-label="2"><span style="width: 30px;"><label class="checkbox checkbox-single kt-checkbox--solid"><input id="' + data.goods.Id + 'abc" type="checkbox" checked="true" data-amount' + data.goods.Id + '="1" value="' + data.goods.Id + '" name="change" />&nbsp;<span></span></label></span></td>'
                            table += '<td>' + (Stt) + '</td>'
                            table += '<td>' + data.goods.Id + '</td>'
                            table += '<td>' + data.goods.Name + '</td>'
                            table += '<td><input type="number" value="1" name="sum" id="amount' + data.goods.Id + '" /></td>'
                            table += '<td>' + data.goods.nameGroupGoods + '</td>'
                            table += '<td>' + data.goods.nameUnit + '</td>'
                            table += '<td name="delete"><i class="icon-2x text-dark-50 flaticon-delete-1"></i></td>'
                            table += '</tr>';
                            $('#tbd').append(table);
                        }
                        $('#seachidgood').val('')
                        StatusCut()
                    }
                    else {
                        toastr.error(data.msg)
                    }
                }
            })
        }
        //Chọn tích tất cả các sản phẩm------------------
        $('#allchange').click(function () {

            var allchange = $('#allchange').is(":checked");

            if (allchange == false) {
                $('input[name="change"]').map(function () {
                    $(this).prop('checked', false);
                })
            }
            else {
                $('input[name="change"]').map(function () {
                    $(this).prop('checked', true);
                })
            }
        })
            /
            //-------------Xóa------------------
            $(document).on('click', 'td[name="delete"]', function (e) {
                if ($('#statusCut').is(':checked')) {
                    $(this).closest('tr').remove()
                } else {
                    toastr.warning("Không thể đổi hàng xuất")
                }
            })
        $(document).on('click', '#add', function (e) {
            e.preventDefault();
            var form = document.getElementById("form");
            var formData = new FormData(form);
            for (var i = 0; i < setArrayChecked().length; i++) {
                formData.append('data[' + i + '].IdGoods', setArrayChecked()[i].IdGoods);
                formData.append('data[' + i + '].Quantity', setArrayChecked()[i].Quantity); // Replace with actual quantity value
            }
            var tt = 0;
            $('input[name="sum"]').each(function () {
                tt += parseInt($(this).val()) || 0;
            });
            formData.append("tt", tt);
            $.ajax({
                url: '/saleorder/Add',
                type: 'post',
                data: formData,
                contentType: false, // Không thiết lập contentType để jQuery tự động xác định
                processData: false, // Không xử lý dữ liệu trước khi gửi
                success: function (data) {
                    if (data.code == 200) {
                        toastr.success(data.msg)
                        BILL(data.id)
                        $('#BILL').modal('show')
                    }
                    else {
                        toastr.error(data.msg)
                    }
                }
            })
        })


        function BILL(id) {

            $.ajax({
                url: '/saleorder/Bill',
                type: 'get',
                data: { id: id },
                beforeSend: function () {
                    $("#wait").css("display", "block");
                },
                success: function (data) {
                    $('span[name="iddh"]').empty()
                    $('span[name="datedh"]').empty()
                    $('span[name="customer"]').empty()
                    $('span[name="address"]').empty()
                    $('span[name="nameware"]').empty()
                    $('#tbdmodal').empty()

                    if (data.code == 200) {
                        $.each(data.c, function (k, v) {
                            $('span[name="iddh"]').append(v.id)
                            $('span[name="datedh"]').append(v.createdate)
                            $('span[name="customer"]').append(v.customer)
                            $('span[name="address"]').append(v.address)
                            $('span[name="nameware"]').append(v.ware)
                        })
                        $.each(data.e, function (k, v) {
                            let table = '<tr>';
                            table += '<td>' + (k + 1) + '</td>'
                            table += '<td>' + v.idgood + '</td>'
                            table += '<td>' + v.name + '</td>'
                            table += '<td>' + v.qtt + '</td>'
                            table += '<td>' + v.gr + '</td>'
                            table += '<td>' + v.unit + '</td>'

                            table += '</tr>';
                            $('#tbdmodal').append(table)
                        })
                    }
                    else {
                        alert("Tạo Đơn Thất Bại")
                    }
                },
                complete: function () {
                    $("#wait").css("display", "none");
                }
            })

        }

    </script>
 
}